body
{
    background: url(bg.png);
    font-family: Helvetica,sans-serif;
    font-size: 13pt;
    text-align: center;
}
.fade-in
{
    transition: 0.75s;
    opacity: 0;
}
div.box
{
    text-align: left;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: 20px auto;
    display: inline-block;
}
#phaser-maze
{
    margin: 12px 0;
    width: 640px;
    height: 320px;
    background-color: black;
}
#flower
{
    float: right;
}
ul
{
    list-style-type: none;
    font-size: large;
    padding: 0;
    margin: 0;
}
h1, h3
{
    margin: 0 0 4px 0;
}
img.logo
{
    width: 18px;
    height: 18px;
    margin-right: 4px;
    vertical-align: text-top;
}